
.btn-warning {
    width: 200px;
}

.initial_screen {
    width: 100%;
}

.text_container {
    position: absolute;
    top = 150px;
    height: 480px;
    background-color: #FFF8FF;
    width:100%;
    z-index: 1;
}

.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    width:100vw;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    z-index: 10;
    padding-left: 10px;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-top: 14px;
}

#right-column {
    float: left;
    width: 40%;
    display: block;
    height:inherit;
}

#left-column {
    float: left;
    border: 1px;
    width: 60%;
    height:inherit;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

iframe {
    position: absolute;
    top: -190px;
    width: 1px;
    min-width: 100%;
    *width: 100%;
    z-index: -1;
}

